/*清除默认样式*/
* {
  box-sizing: border-box;
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

select, input {
  vertical-align: middle;
}

/*清除聚焦表色*/
fieldset, img, input, button {
  border: 0 none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

/*防止拖动*/
textarea {
  resize: none;
}

/*去掉图片底边默认的3像素空白缝隙，或者用display：block也可以*/
img {
  border: 0;
  vertical-align: middle;
}

/*边框合并*/
table {
  border-collapse: collapse;
}

/*干掉下划线*/
a {
  text-decoration: none;
}
