// 单行省略
.ellipsis_singleLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//多行省略
@mixin ellipsis_multiLine($numoflines:2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $numoflines;
  overflow: hidden;
}

// 高度塌陷处理
.clearfix {
  display: inline-block;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  * html & {
    height: 1px
  }
}

/**
混合 (mixin)
  定义：
  @mixin theName
  引用：
  .className {
    @include theName
  }
*/
@mixin ellipsis_singleLine {
  @extend .ellipsis_singleLine;
}

@mixin clearfix {
  @extend .clearfix;
}
