$light-cyan: #1ABC9C;
$deep-cyan: #16A085;
$light-green: #2ECC71;
$deep-green: #27AE60;
$light-blue: #3498DB;
$deep-blue: #2980B9;
$light-purple: #9B59B6;
$deep-purple: #8E44AD;
$light-indigo: #34495E;
$deep-indigo: #2C3E50;
$light-orange: #F1C40F;
$deep-orange: #F39C12;
$light-pumpkin: #E67E22;
$deep-pumpkin: #D35400;
$light-red: #E74C3C;
$deep-red: #C0392B;
$light-gray: #ECF0F1;
$deep-gray: #BDC3C7;
$light-rock: #95A5A6;
$deep-rock: #7F8C8D;
